body {
    text-align : center;
    background:  #e5eaf5;
}
canvas {
    margin:0 auto;display: block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
*{
    font-family: "Germania One";
}
#sound{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 79%;
    left: 36%;
    transform: translate(-50%, -50%);
    /* width: 30px;
    height : 30px;
    cursor: pointer;
    position: absolute;
    top : 465px;
    left : 15px; */
}
#gameover{
    position: absolute;
    width : 400px;
    height: 500px;
    top: 1.38%;
    left: 34.3%;
    background: rgba(0,0,0,0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top : 200px;
    left : 150px;
    display: none;
}
#youlose{
    width:400px;
    position: absolute;
    top: 100px;
    left : 0px;
    display: none;
}
#restart{
    position: absolute;
    top: 310px;
    left : 155px;
    cursor: pointer;
    font-size: 1.25em;
    color : #FFF;
}