body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.gb{
  display: inline-block;
}
.gb::first-letter{
  font-size: 50px;
}
header > p{
  font-size: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.game {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
  width: 330px;
}

.game a {
  color: #333;
  display: block;
  text-align: center;
  text-decoration: none;
}

.game img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.game h2 {
  margin: 20px;
}

.game:hover{
  box-shadow: 0 0 20px rgba(71, 71, 71, 0.5);
}

footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
